<a href="https://colab.research.google.com/github/muzaqqa/Adept-Internship/blob/main/data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd


df = pd.read_csv("/content/train_split_00.csv")

# Display the dataset, its first few rows, basic information, and summary statistics
print(df)
print(df.head())
print(df.info())
print(df.describe())


# Check if the 'minute' column exists and then perform calculations
if 'minute' in df.columns:
    print("Column 'minute' found in Goal Scores dataset")
    mean_value = df ['minute'].mean()
    median_value = df ['minute'].median()
    mode_value = df['minute'].mode().iloc[0] if not df['minute'].mode().empty else None
    variance_value = df['minute'].var()
    std_value = df['minute'].std()
    range_value = df['minute'].max() - df['minute'].min()

    print("Goal Scores - Minute Statistics:")
    print(f"Mean: {mean_value}")
    print(f"Median: {median_value}")
    print(f"Mode: {mode_value}")
    print(f"Variance: {variance_value}")
    print(f"Standard Deviation: {std_value}")
    print(f"Range: {range_value}")

else:
    print("Column 'minute' not found in Goal Scores dataset")

                                  key  fare_amount          pickup_datetime  \
0         2009-06-15 17:26:21.0000001          4.5  2009-06-15 17:26:21 UTC
1         2010-01-05 16:52:16.0000002         16.9  2010-01-05 16:52:16 UTC
2        2011-08-18 00:35:00.00000049          5.7  2011-08-18 00:35:00 UTC
3         2012-04-21 04:30:42.0000001          7.7  2012-04-21 04:30:42 UTC
4       2010-03-09 07:51:00.000000135          5.3  2010-03-09 07:51:00 UTC
...                               ...          ...                      ...
550804  2011-12-13 11:23:00.000000113          5.7  2011-12-13 11:23:00 UTC
550805    2009-12-16 16:30:24.0000001          7.7  2009-12-16 16:30:24 UTC
550806    2010-04-26 01:52:00.0000003         22.9  2010-04-26 01:52:00 UTC
550807   2013-07-16 08:03:00.00000088         19.5  2013-07-16 08:03:00 UTC
550808   2010-04-18 10:02:00.00000069         45.0                    2010-

        pickup_longitude  pickup_latitude  dropoff_longitude  \
0             -73.844311        40.721319         -73.841610
1             -74.016048        40.711303         -73.979268
2             -73.982738        40.761270         -73.991242
3             -73.987130        40.733143         -73.991567
4             -73.968095        40.768008         -73.956655
...                  ...              ...                ...
550804        -73.954883        40.788447         -73.973581
550805        -73.991924        40.715980         -74.008042
550806        -73.862728        40.768785         -73.986475
550807        -73.972047        40.756452         -74.004935
550808               NaN              NaN                NaN

        dropoff_latitude  passenger_count
0              40.712278              1.0
1              40.782004              1.0
2              40.750562              2.0
3              40.758092              1.0
4              40.783762              1.0
...                  ...              ...
550804         40.792456              1.0
550805         40.711833              1.0
550806         40.760065              1.0
550807         40.707432              1.0
550808               NaN              NaN

[550809 rows x 8 columns]
                             key  fare_amount          pickup_datetime  \
0    2009-06-15 17:26:21.0000001          4.5  2009-06-15 17:26:21 UTC
1    2010-01-05 16:52:16.0000002         16.9  2010-01-05 16:52:16 UTC
2   2011-08-18 00:35:00.00000049          5.7  2011-08-18 00:35:00 UTC
3    2012-04-21 04:30:42.0000001          7.7  2012-04-21 04:30:42 UTC
4  2010-03-09 07:51:00.000000135          5.3  2010-03-09 07:51:00 UTC

   pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude  \
0        -73.844311        40.721319         -73.841610         40.712278
1        -74.016048        40.711303         -73.979268         40.782004
2        -73.982738        40.761270         -73.991242         40.750562
3        -73.987130        40.733143         -73.991567         40.758092
4        -73.968095        40.768008         -73.956655         40.783762

   passenger_count
0              1.0
1              1.0
2              2.0
3              1.0
4              1.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550809 entries, 0 to 550808
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   key                550809 non-null  object
 1   fare_amount        550809 non-null  float64
 2   pickup_datetime    550809 non-null  object
 3   pickup_longitude   550808 non-null  float64
 4   pickup_latitude    550808 non-null  float64
 5   dropoff_longitude  550802 non-null  float64
 6   dropoff_latitude   550802 non-null  float64
 7   passenger_count    550808 non-null  float64
dtypes: float64(6), object(2)
memory usage: 33.6+ MB
None
         fare_amount  pickup_longitude  pickup_latitude  dropoff_longitude  \
count  550809.000000     550808.000000    550808.000000      550802.000000
mean       11.349081        -72.528125        39.922422         -72.524762
std         9.882933         12.542739         7.951052          11.690293
min       -44.900000      -3377.680935     -3116.285383       -3383.296608
25%         6.000000        -73.992043        40.734943         -73.991390
50%         8.500000        -73.981790        40.752683         -73.980142
75%        12.500000        -73.967108        40.767093         -73.963602
max       500.000000       2140.601160      1703.092772          40.851027

       dropoff_latitude  passenger_count
count     550802.000000    550808.000000
mean          39.917946         1.683688
std            7.298623         1.307582
min        -2559.748913         0.000000
25%           40.734058         1.000000
50%           40.753138         1.000000
75%           40.768124         2.000000
max          404.616667         6.000000
Column 'minute' not found in Goal Scores dataset